/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  color: #303030;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

@font-face {
  font-family: 'SetiIcons';
  src: url('/assets/seti.woff') format('woff');
}

body, h1 {
  margin: 0;
}

body, h1, h2, h3, h4, h5, footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
